Saved/
Intermediate/
DerivedDataCache/
.vscode/
*.log
*.tmp
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
Binaries/
Build/
.vscode/
*.DS_Store
*.sublime-workspace
*.sublime-project
*.pdb
*.obj
*.exe
*.dll
*.app
*.lib
*.ipa
